body{
	height: 400px;
	margin: 10px;
}
html, body, #main_body_div, .full_screen_div{
	width: 95%;
	height: 95%;
	vertical-align: center;
}

#main_body_div{
	padding-top: 3%;
}

.full_screen_div{
	padding-top: 10%;
}

.full_screen_div span{
	text-align: center;
    position: relative;
    top: 15%;
    -ms-transform: translateY(-50%);
    -wekbit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.full_screen_div span p {
	text-align: left;
}

input{
	border-radius: 10px;
}
